* {
    font-family: Arial, Helvetica, sans-serif;
}

/*nav-bar*/
.logo {
    width: 200px;
    height: 72px;
    margin-left: 50px;
}

li.nav-item {
    margin-right: 10px;
}

ul.navbar-nav.ms-auto.mb-lg-0 {
    margin-right: 70px;
}

/*carousel*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.btn.explorar {
    background-color: white;
    color: black;
    border-color: white;
    border-radius: 10%;
}

.carousel-item {
    height: 32rem;
}

/*indicador que esta ativo do carosel*/
.carousel-indicators .active {
    background-color: #1559b7;
}

.carousel-item.active.slide1 {
    background-color: #ededed;
}

.imagem_carousel {
    width: 430px;
    height: 390px;
    float: right;
    margin-top: -270px;
}

.titulo_carosel {
    font-size: 65px;
    font-weight: bold;
    margin-top: 400px;
    color: black;
}

.p_carosel {
    margin-top: 30px;
    color: black;
    max-width: 450px;
}

/* Estilo específico para o slide2 */
.carousel-item.active.slide2 {
    background-color: black;
    color: white;
}

.titulo_carosel.slide2 {
    font-size: 65px;
    font-weight: bold;
    margin-top: 400px;
    color: white;
}

.p_carosel.slide2 {
    margin-top: 15px;
    color: white;
    max-width: 450px;
}

/* Estilo específico para a imagem do slide 2 */
.carousel-item.active.slide2 .imagem_carousel {
    margin-left: -20px;
    width: 500px;
    height: 390px;
}

i.bi.bi-arrow-right-circle,
i.bi.bi-arrow-left-circle {
    font-size: 38px;
}

i.bi.bi-arrow-right-circle:hover,
i.bi.bi-arrow-left-circle:hover {
    color: #1559b7;
}

#explorar {
    width: 150px;
    margin-top: 20px;
}

/*card*/
.card.card-paises {
    width: 288px;
    height: 300px;
    margin-right: 20px;
}

.card-img {
    padding: 15px;
}

.bandeira-pais {
    width: 265px;
    height: 200px;
    padding: 15px;
}

.container-paises {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.h1-pais {
    margin-top: 25px;
}

.container {
    margin-bottom: 25px;
}


/*explorar*/
.explorar-info {
    height: 700px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7wei_Nl-CX2ezYc545kU_PGRpXNxHd2CVBw&s);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.explorar-info-img {
    width: 100%;
    height: 100%;
}

.p-explorar-info {
    font-size: 20px;
    max-width: 1000px;
    margin: 20px 20% 0 20%;
    color: white;
}

.titulo-explorar {
    color: white;
}

.btn.btn-outline-light {
    margin-bottom: 15px;
}

/*card-sobre*/
.card-img-sobre {
    width: 200px;
    height: 200px;
    padding: 15px;
    align-items: center;
}

.card-text {
    text-align: center;
}

a.btn.btn-outline-primary {
    display: block;
    margin-bottom: 13px;
}

.sobre-nos {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 30px;
}

.nav-item a:hover {
    color: #1559b7;
}

.card-title {
    text-align: center;
}

.row.lista-paises {
    justify-content: center;
    align-items: center;
}

.card-paises:hover {
    border: 2px solid #1559b7;
    display: inline;
}

/*footer*/
.footer-container {
    background-color: #f3f3f3;
}

.logo-footer {
    width: 300px;
    height: 150px;
}

.footer {
    margin-top: -25px;
}

.icons {
    margin-top: 20px;
}

/* Estilo para os ícones dentro de círculos */
.icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid #1559b7;
    border-radius: 50%;
    color: #1559b7;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

/* Efeito de hover para os ícones */
.icon-circle:hover {
    background-color: #1559b7;
    color: white;
    border-color: #1559b7;
}

/*pagina de detalhes*/
.card-pais {
    width: 265px;
    height: 250px;
}

.tabela-detalhes {
    border: 1px solid black;
    /* Borda na tabela em geral */
    border-collapse: collapse;
    /* Garante que as bordas não se sobreponham */
    height: 200px;
    width: 900px;
    text-align: center;
}

.tabela-detalhes th,
.tabela-detalhes td {
    border: 1px solid black;
    /* Borda em cada célula da tabela */
    padding: 8px;
    /* Adiciona um pouco de espaço dentro das células */
}

.tabela-detalhes tr>th {
    width: 450px;
}

input[type="text"] {
    width: 350px;
}

.form-label {
    margin-top: 40px;
}

.footer-detalhes {
    margin-top: 50px;
}

/*Pagina contacts*/
.btn-secondary {
    background-color: red; 
    border-color: red; 
    color: white; 
}
  
.btn-secondary:hover {
    background-color: darkred; 
    border-color: darkred; 
}

/*remover dos favoritos*/
.card-pais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-remove-favorito {
    margin-top: 10px;
    width: 80%; 
}

/*card pais*/
.card-pais {
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-remove-favorito {
    padding: 10px 20px;
    font-size: 1.2rem;
}

